/* Header style */
.header {
    border: 5px solid rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
}

.header-top-left {
    display: flex;
    flex-grow: 1;
}

.top-left {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-grow: 1;
    padding: 0px;
    margin: 0px;
    gap: 20px;
}

.About {
    list-style: none;
}

.GoogleStore {
    list-style: none;
}

.header-top-right {
    display: flex;
    flex-grow: 1;
}

.top-right {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    margin: 0px;
    padding: 0px;
    gap: 20px;
}

.images {
    list-style: none;
}

.advancedResearch {
    list-style: none;
}


/* Middle style */
.middle-part {
    border: 5px solid gray;
    display: flex;
    flex-direction: column;
}

.logo {
    border: 5px solid salmon;
    display: flex;
    justify-content: center;
}

.research-section {
    border: 5px solid rgb(148, 148, 11);
    display: flex;
    justify-content: center;
}

.research-container {
    border: 5px solid rgb(47, 18, 126);
    display: flex;
    flex-direction: column;
}

.input-research-bar {
    border: 5px solid rgb(65, 162, 218);
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    border-radius: 25px;
    padding: 10px;
    width: 584px;
}

.buttons-for-research {
    border: 5px solid rgb(87, 23, 23);
    display: flex;
    gap: 10px;
    justify-content: center;
}